---

// Imports

import PMCF from '../layouts/PMCF.astro';
import WebzineCard from '../components/webzineCard.astro';
import { getCollection } from 'astro:content';
const allZines = await getCollection('dor-cronica');

// Content

const title = "Dor Crónica";
const description = "Short stories about living as a coward. A webzine by Pedro MC Fernandes.";

---

<PMCF title={title} description={description}>
    <div id="webzineList">
        <h1>{title}</h1>
        <ul>
            { allZines.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
                .map((post) => 
                    <WebzineCard
                    customClasses={post.data.customClasses}
                    url={`/${post.collection}/${post.slug}`}
                    title={post.data.title}
                    imageSrc={post.data.cover}
                    imageAlt={post.data.coverAlt} />
                )
            }
        </ul>
    </div>
</PMCF>

<style is:global>

#webzineList {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 50em;
    padding: 1.5em 1em 1em;
    margin: 0 auto;
}
h1 {
    margin: 0.25em 0 0.5em;
}
h2 {
    font-family: var(--ffLexendPeta);
    font-size: var(--fsBase);
    margin: 0;
    cursor: inherit;
}
#webzineList > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 -0.5em;
    cursor: var(--cursorDefault);
}
.webzineCard,
.webzineCard.dark {
    position: relative;
    aspect-ratio: 4 / 1;
    margin: 0 0.5em 1em;
    background-color: initial;
    cursor: var(--cursorDefault);
}
.webzineCard a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--s8p) + 0.5vw);
    overflow: hidden;
    text-decoration: none;
    color: var(--ink);
    transition: all 0.2s ease-in;
}
.webzineCard.dark a {
    color: var(--paper);
}
.webzineCard a:hover {
    color: var(--paper);
    background-color: var(--ink);
    opacity: 1;
}
.webzineCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
@supports not (aspect-ratio: 4 / 1) {
    [slide]::before {
        float: left;
        padding-top: calc((4 / 1) * 100%);
        content: "";
    }
    [slide]::after {
        display: block;
        content: "";
        clear: both;
    }
}
@media (max-width: 640px) {
    #webzineList > ul > li {
        max-width: none;
    }
}

</style>