---
// Definitions
const title = "Pedro MC Fernandes, Product Designer";
const description = "Hi 👋 This is my website. It's where I show myself as a Product Designer. If you need one, get in touch so we can start talking. Have a nice one!";
const customClass = "index";
const sections = [
	{ title: 'PMCF.XYZ', normTitle: 'pmcf-xyz' },
	{ title: 'About me', normTitle: 'who' },
	{ title: 'Why Design', normTitle: 'why' },
	{ title: 'How I Work', normTitle: 'wat' },
];

// Components
import Shell from '../layouts/Shell.astro';
import Stickie from '../components/stickie.astro';
import Contact from '../components/contact.astro';
import Modal from '../components/modal.astro';

// Content

	// Collections
import { getCollection } from 'astro:content';
const firstSection = await getCollection('base');
const secondSection = await getCollection('who');
const thirdSection = await getCollection('why');
const fourthSection = await getCollection('see');

	// Footer
import { Content as Footer } from '../content/extra/footer.md';
---
<Shell title={ title } description={ description } customClass={ customClass }>
	<div class="controls">
		<div class="button-3d">
			<button id="info" class="dark" aria-label="About this website">Info</button>
		</div>
		<div class="button-3d group">
			<button id="zoomOut" class="icon dark" aria-label="Zoom out">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
					<title>Minus sign</title>
					<path d="M2 8L14 8" stroke="black" stroke-width="3" stroke-linecap="round"/>
				</svg>
			</button>
			<button id="zoomIn" class="icon dark" aria-label="Zoom in">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
					<title>Plus sign</title>
					<path d="M2 8L14 8" stroke="black" stroke-width="3" stroke-linecap="round"/>
					<path d="M8 14L8 2" stroke="black" stroke-width="3" stroke-linecap="round"/>
				</svg>
			</button>
		</div>
		<div class="button-3d">
			<button id="resetNav" class="icon dark" aria-label="Reset to initial position">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
					<title>Star sign</title>
					<path d="M2 8L14 8" stroke="black" stroke-width="3" stroke-linecap="round"/>
					<path d="M14 14L2 2" stroke="black" stroke-width="3" stroke-linecap="round"/>
					<path d="M14 2L2 14" stroke="black" stroke-width="3" stroke-linecap="round"/>
					<path d="M8 14L8 2" stroke="black" stroke-width="3" stroke-linecap="round"/>
				</svg>
			</button>
		</div>
	</div>
	<div id="canvas" class="whiteboard">
		<div id="plumbing" aria-hidden="true"></div>
		<main>
			<!-- I N T R O -->
			<section id={sections[0].normTitle}>
				<aside id="note-start">Start Here!</aside>
				<h1 class="title">
					<img src="/artwork/pmcf-xyz.svg" alt={sections[0].title} width="355" height="40"/>
				</h1>
				{
					firstSection.map(async (post) => {
						const { Content } = await post.render()
						return (
						<Stickie>
							<Content />
						</Stickie>
						)
					})
				}
				<Contact />
				<small class="footnote">
					<Footer />
				</small>
				<aside id="note-contact">Contact me here</aside>
			</section>
			<!-- W H O -->
			<section id={sections[1].normTitle}>
				<aside id="note-who">Pedro Who?!</aside>
				<h2 class="title" aria-label={sections[1].title}>
					<img class="badge" src="/artwork/x.svg" alt="The letter X, as in an unknown variable" width="40" height="40"/>
					{sections[1].title}
				</h2>
				{
					secondSection.map(async (post) => {
						const { Content } = await post.render();
						const idNum = post.slug.split('-')[0];
						const id = `${sections[1].normTitle}-${idNum}`;
						return (
						<Stickie id={id}>
							<Content />
						</Stickie>
						)
					})
				}
				<aside id="note-anxiety">As if I'm not an anxious person...</aside>
			</section>
			<!-- W H Y -->
			<section id={sections[2].normTitle}>
				<aside id="note-why">A whole career, going steady</aside>
				<h2 class="title" aria-label={sections[2].title}>
					<img class="badge" src="/artwork/y.svg" alt="The letter Y, as a homophone for Why" width="40" height="40"/>
					{sections[2].title}
				</h2>
				{
					thirdSection.map(async (post) => {
						const { Content } = await post.render();
						const idNum = post.slug.split('-')[0];
						const id = `${sections[2].normTitle}-${idNum}`;
						return (
						<Stickie id={id}>
							<Content />
						</Stickie>
						)
					})
				}
				<aside id="note-challenges">Design is defiant. Every day there's overcoming</aside>
				<aside id="note-open">I want to help design a world that's more open, accessible</aside>
			</section>
			<!-- S E E -->
			<section id={sections[3].normTitle}>
				<aside id="note-see">Sneak peek at how I've been working</aside>
				<h2 class="title" aria-label={sections[2].title}>
					<img class="badge" src="/artwork/z.svg" alt="The letter Z, as a homophone pun for See" width="40" height="40"/>
					{sections[3].title}
				</h2>
				{
					fourthSection.map(async (post) => {
						const { Content } = await post.render();
						const idNum = post.slug.split('-')[0];
						const id = `${sections[3].normTitle}-${idNum}`;
						return (
						<Stickie id={id}>
							<Content />
						</Stickie>
						)
					})
				}
				<aside id="note-end">Thank you for watching ♥</aside>
			</section>
		</main>
	</div>
	<Modal title="Info" openID="info" uiMode="dark" />
</Shell>
<style>
body {
	position: fixed;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
}
.whiteboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	border: none;
	outline: none;
}
main {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 7em;
	width: fit-content;
	padding: 12em;
	background-position: 0 0;
	/*background-size: 1em 1em;*/
	/*background-image: radial-gradient(var(--black-light) 0.0625em, transparent 0.0625em);*/
}
.title {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	padding: 1.5rem 2rem;
	margin-bottom: 3.5rem;
	border-radius: var(--sf);
	color: var(--paper);
	background-color: var(--charcoal);
	box-shadow: var(--shadow-a);
}
.title svg {
	display: block;
}
h1.title img {
	padding: 0.5rem;
}
img.badge {
	overflow: visible;
	width: 2rem;
	height: 2rem;
	padding: 0.75rem;
	border-radius: 100%;
	background: var(--paper);
}
:global(#pmcf-xyz h2), :global(#pmcf-xyz h3) {
	font-family: "LexendPeta";
	font-weight: 750;
	font-size: 0.75em;
	line-height: 133%;
	text-transform: uppercase;
}
section {
	padding: 7em;
	border-radius: var(--sf);
	background-color: var(--yellow-fade);
}
section#who {
	background-color: var(--blue-fade);
}
section#why {
	background-color: var(--green-fade);
}
section#wat {
	background-color: var(--pink-fade);
}
section:not(#pmcf-xyz) :global(article:not(:last-child)) {
	margin-bottom: 8em;
}
section:nth-child(2) :global(article > *) {
    background-color: var(--stickie-blue);
}
section:nth-child(3) :global(article > *) {
    background-color: var(--stickie-green);
}
section:nth-child(4) :global(article > *) {
    background-color: var(--stickie-pink);
}
.controls {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
	gap: 0.5em;
	position: fixed;
	max-width: calc(100vw - 2em);
	right: 1em;
	bottom: 1em;
	z-index: var(--l-float);
}
/* Annotations */
aside[id] {
	font-size: 4em;
	position: absolute;
	text-align: center;
}
aside#note-start {
	top: -2rem;
	left: -10rem;
	width: 14rem;
	transform: rotate(350deg);
}
aside#note-contact {
	bottom: -12rem;
	left: 20rem;
	width: 18rem;
	transform: rotate(10deg);
}
aside#note-who {
	top: -6rem;
	left: 2rem;
	width: 12rem;
	transform: rotate(340deg);
}
aside#note-why {
	top: 36rem;
	left: -24rem;
	width: 36rem;
	transform: rotate(280deg);
}
aside#note-see {
	top: -12rem;
	left: -40rem;
	width: 42rem;
	transform: rotate(5deg);
}
aside#note-end {
	top: 260rem;
	right: -20rem;
	width: 42rem;
	transform: rotate(300deg);
}
aside#note-anxiety {
	top: 144rem;
	right: 18rem;
	width: 42rem;
	transform: rotate(355deg);
}
aside#note-challenges {
	top: 92rem;
	right: 4rem;
	width: 48rem;
	transform: rotate(340deg);
}
aside#note-open {
	bottom: -10rem;
	left: 24rem;
	width: 48rem;
	transform: rotate(10deg);
}
/* Content design */
section#pmcf-xyz {
	flex-direction: row;
	flex-wrap: wrap;
	max-width: var(--maxcol-02);
}
/* Media queries */
@media (max-width: 480px) {
	.controls {
		flex-wrap: wrap;
		justify-content: flex-start;
		right: auto;
		left: 1em;
	}
}
</style>